section {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  height:1700px;
  width:100%;
 
}
#in{
	position:absolute;
	left:30%;
	margin-top:50px;
	width:800px;
	text-align:center;
}
#in h1{
	text-align:center;
}
#userinfo {
  width: 50%;
  margin: 25px auto;
}
.info {
  margin-top:150px;
  margin-left:180px;
  float: left;
  width: 70%;
  padding: 30px 20px;
  background-color: white;
  text-align: center;
  border-radius: 5px 0 0 5px;
}

.user{
  display: block;
  margin: 0 auto;
  width: 80%;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  height: 45px;
  line-height: 45px;  
  margin-bottom: 10px;
  font-size: 1em;
  color: black;
}

.modi {
  margin-top: 25px;
  margin-left: 25px;
  width: 100px;
  border: 0;
  background-color: #53CACE;
  border-radius: 5px;
  height: 40px;
  color: white;
  font-weight: 400;
  font-size: 1em;
  cursor:pointer;
}

.user:focus {
  outline: none;
  border-color: #53CACE;
}

label{
	width:150px;
	text-align:left;
	float:left;
	margin-left:60px;
	color:gray;
	font-size:11pt;
}
#btnid{
  position:absolute;
  top:1032px;
  right:630px;
  width: 80px;
  border: 0;
  background-color: #53CACE;
  border-radius: 5px;
  height: 25px;
  color: white;
  font-size: 8pt;
  cursor:pointer;
}
#btnmail{
  position:absolute;
  top:1266px;
  right:630px;
  width: 80px;
  border: 0;
  background-color: #53CACE;
  border-radius: 5px;
  height: 25px;
  color: white;
  font-size: 8pt;
  cursor:pointer;
}
#btnad{
  position:absolute;
  top:1500px;
  right:630px;
  width: 80px;
  border: 0;
  background-color: #53CACE;
  border-radius: 5px;
  height: 25px;
  color: white;
  font-size: 8pt;	
  cursor:pointer;
}