
section {
  align-items: center;
  display: flex;
  height: 1100px;
  justify-content: center;
  margin: auto;
}

section {
  background: #f3f4f4;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.box {
  background: #fff;
  border-radius: 0.625rem;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  height: 550px;
  position: absolute;
  top:500px;
  left:570px;
  width: 800px;
}

.logo,
.signin,
input,
button,
.foot-txt,
.signin-row {
  margin: 0 auto;
  position: relative;
}

.logo {
  height: 150px;
  margin-top: 1.875rem;
  width: 270px;
}

p {
  color: #444;
}

.signin {
  font: 600 1.8rem "Work Sans", sans-serif;
  padding: 0.17em;
}

.signin-row {
  display: flex;
  justify-content: space-around;
  margin: 0.625rem auto 0.3rem;
  padding: 0.625rem;
  width: 11rem;
}

.signin-row > i {
  color: #444;
  font-size: 2rem;
  transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
}

.signin-text {
  color: #9da3a5;
  font: 500 0.85rem "Work Sans", sans-serif;
  margin: 0;
  padding-top: 0.625rem;
  text-align: center;
}

i:hover {
  cursor: pointer;
}

.ic1:hover {
  color: #1da1f2;
}

.ic2:hover {
  color: #3b5998;
}

.ic3:hover {
  color: #4285f4;
}

.inputtext {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: 0;
  border-bottom: 2px solid #9da3a5;
  font: 500 0.9rem "Work Sans", sans-serif, sans-serif;
  height: 2.15em;
  margin-top: 30px;
  transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
  width: 80%;
}

.inputtext:focus {
  border-bottom: 2px solid #ea4c89;
  outline: none;
}

::-webkit-input-placeholder {
  color: #9da3a5;
}

::-moz-placeholder {
  color: #9da3a5;
}

:-ms-input-placeholder {
  color: #9da3a5;
}

:-moz-placeholder {
  color: #9da3a5;
}

#button {
  background: #ea4c89;
  border: 0;
  border-radius: 1.4em;
  color: #fff;
  font: 1.1rem "Work Sans", sans-serif;
  margin: 1.7em auto 0.6em;
  outline: none;
  padding: 0.6em;
  transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
  width: 70%;
  margin-bottom:35px;
}

#button:hover {
  background: #444;
  cursor: pointer;
}

#button:focus {
  outline: none;
}

.foot-txt {
  color: #9da3a5;
  font: 500 0.85rem "Work Sans", sans-serif;
  padding: 0.3em;
  margin-bottom:10px;
}

.foot-txt:hover {
  cursor: pointer;
}

#alink{
margin-right:50px;
}
#alink2{
margin-right:50px;
}