@charset "UTF-8";

section{
width:100%;
height:1500px;
}
th{
width:100px;
text-align:center;
}
#pre{
font-size:12pt;
width:800px;
maxWidth:800px;
height:600px;
maxHeigth:600px;
background:white;
display:"";
}
textarea{
display:none;
}
.containerset{
width:900px;
}
#viewpage{
float:right;
}
#btnwichbox{
position:absolute;
left:19%;
}
#update{
margin-right:20px;
}